---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include header.html %}

    <title>Edmund Ophie</title>
</head>

<body class="home">
    <header class="home__header">
        <a href="#" class="logo logo--clickable header__logo"><span>&#x276E;&#xb7;&#x276F;</span></a>
        <h1 class="header__title">
            Edmund Ophie
            <br />
            <span class="header__subtitle">software engineer</span>
        </h1>
    </header>
    <main class="home__content">
        <div>
            <hr class="content__divider">
            <div class="content__main">
                <p>&#10077;Aku bukanlah matahari, yang sanggup menyinari seluruh bumi. Tapi aku juga bukan manusia
                    apatis yang bertakut kepada nasib.</p>
                <p>Aku memlih untuk tidak mengutuki kegelapan dan percaya bisa menjadi lilin yang memberikan
                    seberkas terang bagi setitik sudut ruangan.&#10078;</p>
                <cite><small>&#8212; Mahameru, 28 Juli 2014 06:14</small></cite>
            </div>
            <hr class="content__divider">
        </div>
        <div class="main__menu">
			{% for item in site.data.navigation %}
            <a class="menu__item link" href="{{site.baseurl}}{{item.link}}">{{item.name}}</a>
            {% endfor %}

            <!-- <a class="menu__item link" href="{{site.baseurl}}/blog.html">Blog</a> -->
            <!-- <a class="menu__item link" href="{{site.baseurl}}/projects.html">Projects</a> -->
            <!-- <a class="menu__item link" href="{{site.baseurl}}/about.html">About</a> -->

        </div>
    </main>
    <section class="home__contact">
        <div><a class="contact__item link link--decorated" href="mailto:edmund@ophie.io">edmund@ophie.io</a></div>
        <div><a class="contact__item link link--decorated" href="https://github.com/edmundophie">github</a></div>
        <!-- <div><a class="contact__item link link--decorated" href="https://id.linkedin.com/in/edmund-ophie-369618b1">linkedin</a></div> -->
    </section>
</body>

</html>