<h1 class="uncolored page__title page__title--blog">Blog</h1>

{% for post in site.posts %}
<article class="blog__post">
  <a href="{{site.baseurl}}{{post.url}}" class="link uncolored post__title blog__title">{{post.title}}</a>
  
  <time class="post__time blog__time">{{ post.date | date_to_string }}</small> <span id="mid-div"
      class="pagination__divider">&#183;</span> {{ post.category | downcase }}</small></time>

  <div class="post__excerpt">
    <!-- <div class="post__spacer"></div> -->
    {{post.excerpt}}
    <!-- {% if post.excerpt != post.content %}
    . . . <a href="{{site.baseurl}}{{post.url}}" class="link link--decorated">read more</a>
    {% endif %} -->
  </div>
</article>
{% endfor %}

<!-- <section>
  <div id="pagination">
    <a href="#" class="pagination__link link uncolored">&#x2039;<strong> newer posts</strong></a>
    <span id="mid-div" class="pagination__divider">&#183;</span>
    <a href="#" class="pagination__link link uncolored"><strong>older posts </strong>&#x203A;</a>
  </div>
</section> -->
</main>