
@media screen and (max-width: 767px) {
  .content {
    padding: 0 4%;
  }
  
  .post__title {
    font-size: 3.4rem;
  }

  .post__excerpt, .post__content {
    text-align: justify;
    letter-spacing: -.004em;
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  .post__title {
    font-size: 4rem;
  }
}

.blog__post {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.post__title {
  font-weight: 400;
  margin: .67rem 0;
}

.post__time {
  display: block;
  font-size: 1.8rem;
}

.post__excerpt, .post__content {
  text-align: justify;
  line-height: 1.58;
}

.post__spacer {
  margin:1.5rem 0;
}

.blog__title {
  margin:0;

  &:hover {
    color: $siimple-default-primary;
  }
}

.blog__time {
  margin-bottom: 0.4*$p-margin-top;
}

.pagination__link {
  font-size: 1.7rem;

  &:hover {
    color: $siimple-default-primary;
  }
}

.pagination__divider {
  vertical-align: middle;
}

.post__content img{
    width: 100%;
    border-radius: 3px;
}