
@media screen and (max-width: 767px) {
  .content {
    padding: 0 4%;
  }
}


.blog__post {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.post__title {
  @extend h1;
}

.post__time {
  display: block;
  font-size: 1.8rem;
}

.post__excerpt, .post__content {
  text-align: justify;
}

.post__excerpt p {
  margin-bottom: 0;
  display: inline;
}

.post__spacer {
  margin:1.5rem 0;
}

.blog__title {
  margin:0;

  &:hover {
    color: $siimple-default-primary;
  }
}

.blog__time {
  margin-bottom: 0.4*$p-margin-top;
}

.pagination__link {
  font-size: 1.7rem;

  &:hover {
    color: $siimple-default-primary;
  }
}

.pagination__divider {
  vertical-align: middle;
}