@import "typography";
// @import "github";

$siimple-default-primary: #13A4F2;
$menu-item-font-family: 'Courier New', Courier, monospace;
$heading-font-family: Georgia,Cambria,"Times New Roman",Times,serif;
$menu-active-color:black;

*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  margin: 0;
  margin-bottom: 5rem;
  letter-spacing: -.003em;
  color: $text-color-primary;
  // background: rgb(247, 247, 248);
}

.heading {
  font-family: $heading-font-family;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

h1, h2, h3, h4, h5, h6 {
  @extend .heading
}

h1 {
  font-weight: 500;
  margin: .67rem 0;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  color: #6a737d;
  font-size: 1.7rem;
}

.link {
  color: $siimple-default-primary;
  text-decoration: none;
  margin: 0;
}

.uncolored {
  color: black;
}

.link--decorated {
  border-bottom: 1px dotted $siimple-default-primary;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-size: 1.2rem;
  code {
    background: transparent;
    padding: 1.6rem;
    border: none;
    border-left: 4px solid $siimple-default-primary;
    width: 100%;
    display: block;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 499px) {
  blockquote {
    font-size: 2.2rem;
    margin: 2rem 0 2rem 0;
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 500px) {
  blockquote {
    font-size: 2.6rem;
    margin: 3rem 0 2rem 0;
    padding-left: 30px;
  }
}

blockquote {
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 3.6rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.68);
  border-left: 4px solid $siimple-default-primary;
  text-align: left;
}

.block {
  display: block;
}