@media screen and (max-width: 500px) {
  .nav__bar {
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 500px) {
  .nav__bar {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 767px) {
  .nav__bar {
    padding-left:4%;
    padding-right:4%;
  }
  
  .nav__site-name {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 70%;
  }
}

@media screen and (min-width: 960px) {
  .container {
    max-width: 50%;
  }
}

.container__after-nav {
  margin-top: 3rem;
}

.container--centered {
  margin-left: auto;
  margin-right: auto;
}

.nav {
  border-bottom: 1px #e1e4e8 solid !important;
}

.nav__bar {
  display: flex;
}

.logo {
  font-weight: 500;
  letter-spacing: -0.5rem;
  font-family: $menu-item-font-family;
  font-size: 3rem;
  margin: 0;
}

.logo--clickable {
  text-decoration: none;
  border: none !important;
  color: $siimple-default-primary;
}

.site-name {
  font-family: $menu-item-font-family;
  font-size: 3rem;
}

.nav__site-name {
  padding: 0 1rem;
  position: relative;
  bottom: -2px;
}

.nav__menu {
  flex-grow: 100;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu__item {
	text-decoration: none;
	font-family: $menu-item-font-family;
}

.menu__item--hoverable:hover {
  color:$menu-active-color;
}

.menu__item--right {
    padding: 0 1rem;
}

.menu__item--active {
  color: $menu-active-color !important;
}