@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900');

/**
 source: https://github.com/lucagez/medium.css/
 **/
$text-color-primary: rgba(0, 0, 0, 0.84);
p,
i,
a,
.first-letter,
.authorName a {
  color: $text-color-primary;
  text-rendering: optimizeLegibility;
}

$p-margin-top: 2.1rem;
// p, i, a {
//   margin-top: $p-margin-top;
//   font-family: "Lora";
//   font-size: 1.8rem;
//   letter-spacing: -0.03px;
//   line-height: 1.58;
// }

code {
  font-size: 1.6rem;
  border-radius: 3px;
  padding: 3px 5px;
  font-family: Menlo,Monaco,"Courier New",Courier,monospace;
  background-color: #dadada;
  
}

mark, .highlighted {
  background: #7DFFB3;
}

.first-letter {
  overflow-wrap: break-word;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 60px;
  display: block;
  position: relative;
  float: left;
  margin: 0px 7px 0 -5px;
}

.subtitle {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
}

::selection{background-color: darkorange}
