--- 
--- 
@import "main";
@import "navigation";

@media screen and (max-width: 767px) {
  body {
    padding: 0 4%;
  }
}

@media screen and (min-width: 768px) {
  .post,
  #pagination {
    margin: auto;
    max-width: 70%;
  }
}

@media screen and (min-width: 960px) {
  .post,
  #pagination {
    margin: auto;
    max-width: 50%;
  }
}



article {
  margin-top: 3rem;
  margin-bottom: 3rem;

  .post {

    .title {
      margin: 0;

      a {
        text-decoration: none;
        font-size: inherit;
        color: inherit;
        border: none;
      }

      a:hover {
        color: $siimple-default-primary;
      }
    }

    time {
      display: block;
      margin-bottom: 0.4*$p-margin-top;
      font-size: 1.8rem;
    }

    .excerpt {
      text-align: justify;

      p:first-child {
        margin-top: 0.4*$p-margin-top;
      }
    }
  }
}

#pagination {
  font-size: 1.7rem;
  letter-spacing: 0.3px;

  a {
    text-decoration: none;
    font-size: inherit;
    border: none;
    color: inherit;

    :hover {
      color: $siimple-default-primary;
    }
  }
}

#mid-div {
  vertical-align: middle;
}